@import "mixins";


//-------- Estandar --------//


//--------- Text ----------//

.text-center{
    text-align: center;
}

.text-primary{
    color: $colorPrimary;
}

.text-secondary{
    color: $colorSecondary;
}

.text-tertiary{
    color: $colorTertiary;
}

.text-small{
    font-size: 10pt;
}

.text-subtitle{
    font-size: 15pt;
}
.text-white{
    color: white;
}

.f-1{
    font-size: 10pt;
}
.f-2{
    font-size: 12pt;
}
.f-3{
    font-size: 14pt;
}
.f-4{
    font-size: 16pt;
}
.f-5{
    font-size: 18pt;
}
.f-6{
    font-size: 20pt;
}
//--------------------------//

//------ lists menu ---------//
.list-menu{
    list-style: none;
    
    li{
        
        a{
            text-decoration: none;
            font-weight: bold;
            
        }

        a:hover{
            opacity: 0.8;
        }
    }
}
.list-menu-row{
    list-style: none;
    display: flex;
    flex-direction: row;
    
    li{
        
        a{
            text-decoration: none;
            font-weight: bold;
            
        }
        a:hover{
            opacity: 0.8;
        }
    }
}
//--------------------------//


//--------- Forms ------------//
.form-control{
    border: 1px white;
    padding: 0.5rem;
    font-size: 12pt;
    background-color: rgba(0, 0, 0, 0.267);
    color: white;
    border-radius: 5px;
}

.form-group{
    display: flex;
    flex-direction: row;
    align-items: center;
}
//----------------------------//


//--------- Borders ---------------//
.border-1{
    border: 1px solid;
}
.border-2{
    border: 2px solid;
}
.border-3{
    border: 3px solid;
}
//---------------------------------//

//-------- Backgrounds -----------//
.bg-primary{
    background-color: $colorPrimary;
}
.bg-secondary{
    background-color: $colorSecondary;
}
.bg-tertiary{
    background-color: $colorTertiary;
}
//--------------------------------//


//---------- Buttons ------------//

.btn{
    border: none;
    padding: 0.5rem;
    border-radius: 1rem;
    text-decoration: none;
    font-weight: bold;
    transition: padding .3s ease;
}

.btn-primary{
    background-color: $colorPrimary;
    color: white;
}

.btn-secondary{
    background-color: $colorSecondary;
    color: white;
}

.btn-tertiary{
    background-color: $colorTertiary;
    color: white;
}

.btn-white{
    background-color: white;
    color: $colorPrimary;
}

.btn-sm{
    padding: 0.2rem;
}

.btn:hover{
    opacity: 0.8;
    padding: 0.7rem;
}

.btn-square{
    border: none;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: bold;
}

.btn-square:hover{
    opacity: 0.8;
}



//-------------------------------//





//------------ Margins -----------//

    .m-0{
        margin: 0 px;
    }
    
    .m-1{
        margin: 0.5rem;
    }

    .m-2{
        margin: 1rem;
    }

    .m-3{
        margin: 1.5rem;
    }

    .mt-0{
        margin-top: 0px;
    }

    .mt-1{
        margin-top: 0.5rem;
    }

    .mt-2{
        margin-top: 1rem;
    }

    .mt-3{
        margin-top: 1.5rem;
    }


    .mb-0{
        margin-bottom: 0px;
    }

    .mb-1{
        margin-bottom: 0.5rem;
    }

    .mb-2{
        margin-bottom: 1rem;
    }

    .mb-3{
        margin-bottom: 1.5rem;
    }

    .mr-0{
        margin-right: 0px;
    }

    .mr-1{
        margin-right: 0.5rem;
    }

    .mr-2{
        margin-right: 1rem;
    }

    .mr-3{
        margin-right: 1.5rem;
    }

    .ml-0{
        margin-left: 0px;
    }

    .ml-1{
        margin-left: 0.5rem;
    }

    .ml-2{
        margin-left: 1rem;
    }

    .ml-3{
        margin-left: 1.5rem;
    }

//---------------------------------------//


//--------------------------//


//------- Web ----------//


.header{ // Contenedor
    padding: 1rem;
    background-color: white;
    width: 100%;
    height: 7rem;
    position: fixed;
    top: 0%;

    
    .header-content{
        display: flex;
        flex-flow: column wrap;

        .header-nav-res{
            display: none;


            //---- Nav ----//
            ul{
                margin-right: 3rem;
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
            
                // ------Nav-items -------//
                li{
                
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                
                
                    .icon-nav{
                        border-radius: 100%;
                        padding: 0.3rem;
                        margin: 0.3rem;
                        background-color: $colorPrimary;
                        color: white;
                        transition: padding 0.3s ease;
                    }
                
                    .text-nav{
                        color: $colorPrimary;
                    
                        a{
                            text-decoration: none;
                            color: $colorPrimary;
                        }
                    
                    }
                
                
                }
                //--------------------------//
            
            
                //------ Nav items-hover ------//
                li:hover{
                
                    .icon-nav{
                        padding: 0.8rem;
                    }
                
                    .text-nav{
                        border-bottom: 3px solid;
                    }
                }
                //-----------------------------//
            
                //------ Nav items-Active-----//
                .active{
                    .icon-nav{
                        padding: 0.8rem;
                    }
                
                    .text-nav{
                        border-bottom: 3px solid;
                    }
                }
                //----------------------------//
            
            }
            //-------------//

        }

        //---- Header -----//
        header{
        
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        
            //---- header-logo -------//
            .header-logo{
                margin-left: 2rem;
                img{
                    width: 200px;
                }
            }
            //------------------------//

            .nav-icon{
                display: none;
            }
        
            //---- Nav ----//
            ul{
                margin-right: 3rem;
                list-style: none;
                display: flex;
                flex-direction: row;
                align-items: center;
            
                // ------Nav-items -------//
                li{
                
                    margin-right: 2rem;
                
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                
                
                    .icon-nav{
                        border-radius: 100%;
                        padding: 0.5rem;
                        margin: 0.5rem;;
                        background-color: $colorPrimary;
                        color: white;
                        transition: padding 0.3s ease;
                    }
                
                    .text-nav{
                        color: $colorPrimary;
                    
                        a{
                            text-decoration: none;
                            color: $colorPrimary;
                        }
                    
                    }
                
                
                }
                //--------------------------//
            
            
                //------ Nav items-hover ------//
                li:hover{
                
                    .icon-nav{
                        padding: 0.8rem;
                    }
                
                    .text-nav{
                        border-bottom: 3px solid;
                    }
                }
                //-----------------------------//
            
                //------ Nav items-Active-----//
                .active{
                    .icon-nav{
                        padding: 0.8rem;
                    }
                
                    .text-nav{
                        border-bottom: 3px solid;
                    }
                }
                //----------------------------//
            
            }
            //-------------//
        } 
        //------------------//

    }

}

main{
    margin-right: 2rem;
    margin-left: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    //----------- Slider --------------//
    .slider{
        margin-top: 7rem;
        width: 100%;

    }
    //-----------------------------------//

    //----------- Card presentation --------------//
    .card-presentation{
        margin-top: 12rem;
        display: none;

        //--------- Beneficios mo ---------//
        .beneficios-mo{
            @include flex-row-baseline;

            .beneficios{
                padding: 0.5rem;
                margin: 0.5rem;
                color: black;
                font-family: $fontSecondary;
                font-size: 45pt;
            }

            .mo{
                background-color: $colorPrimary;
                color: white;
                margin: 0.5rem;
                padding: 1rem;
    
            }

        }
        //---------------------------------//

        //------------- Aros ------------//
        .aros{
            @include flex-column-center;

            .aro-gratis{
                color: $colorSecondary;
                font-size: 46pt;
            }

            .primera-visita{
                color: $colorPrimary;
                font-size: 27pt;
                letter-spacing: 15pt;
                margin-left: 2rem;

            }


        }
        //-------------------------------//

        //------------- solamente ------------//
        .solamente{
            @include flex-row-center;

            .solamente-por{
                @include flex-column-center;
                margin-right: 1rem;

                .solamente-text{
                    font-size: 30pt;
                }

                .parte-de{
                    font-size: 20pt;
                }

                
            }

            .familia{
                font-family: $fontSecondary;
                font-size: 40pt;
                color: $colorSecondary;
                
            }




        }
        //------------------------------------//


    }
    //--------------------------------------------//


    //---------------- Nav main ----------------------//
    .nav-main{
        width: 100%;

        ul{
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            

            //------- nav-main items -----------//
            li{

                a{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-right: 1rem;
                    padding-right: 1rem;
                    background-color: $colorPrimary;
                    text-decoration: none;
                    color: white;
                    border-radius: 2rem;

                    .icon{
                        border-radius: 50%;
                        margin:0.5rem;
                        padding: 0.5rem;
                        background-color: $colorSecondary;
                        color: white;
                        transition: padding 0.3s ease, font-size 0.3s ease;
                    }

                    
                }


                a:hover{

                    .icon{
                        padding: 0.8rem;
                        font-size: 13pt;
                    }

                    .text{
                        border-bottom: 2px solid white;
                    }


                }


            }
            //----------------------------------//

        }

    }
    //------------------------------------------------//


    //---------------- Lab -----------------------------//
    .lab{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        background-color: $colorPrimary;

        .container{
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;

            .lentes-materiales{
                @include card-lab;
            }

            .equipos{
                @include card-lab;
            }

            .exhibidores{
                @include card-lab;
            }

            .aros-monturas{
                @include card-lab;
            }

            .estuches-insumos{
                @include card-lab;
            }

            .herramientas-accesorios{
                @include card-lab;
            }


        }

    }
    //--------------------------------------------------//

    .content{
        @include container(column);
        width: 100%;

        .container{
            @include container(row, start, space-around, nowrap);
            width: 100%;

            .card{
                display: flex;
                
               
                .card-text{
                    width: 20rem;
                    @include container(column, start, center, nowrap);

                    p{
                        font-size: 13pt;
                    }
                   
                }

                .card-img{

                    img{
                        width: 20rem;
                        
                    }
                }
            }

            .up{
                display: flex;
                flex-flow: row wrap-reverse;
                align-content: flex-start;

                .card-text{
                    width: 16rem;
                }
            }

            .bottom{
                display: flex;
                flex-flow: column wrap-reverse;
                align-content: flex-start;

            
            }

        }

        hr{
            width: 100%;
        }

    }

}

//------------------------//