@font-face {
    font-family: Roboto;
    src: url("fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: StyleScript;
    src: url("fonts/Style_Script/StyleScript-Regular.ttf");
}



$colorPrimary: #1CA0C0;
$colorSecondary: #EC8600;
$colorTertiary: #004C87;



$fontPrimary: Helvetica;
$fontSecondary: StyleScript;